.lessons {
    position: center;
    text-align:left;
    border: 1px black solid;
    border-radius: 20px;
}

.lesson_1 {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.videoForm {
    padding-left: 50px;
    padding-right: 50px;
}