
.button1{
    border-radius: 50%;
    background-color: #F1F0F0;
    border: none;
    color: #0AB39E;
    font-size: 6vh;

}

.videoForm {
    padding-left: 50px;
    padding-right: 50px;
}

.d-grid{
   font-family: "Jost"; 
}

.btnx{
    border-radius: 10px;
    font-size: 3.5vh;
    background-color: #e9e7e7;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.btnx:hover{
    background-color: #c6c4c4;
}
