.btn2{
    background-color: #222222;
    border: none;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-family:"jost";
    font-size: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 20rem;

    
}
.form1-group{
    width: 24rem;
   
   
}
#madda{
    display: flex;
    justify-content: center;
}
body {
    
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  .circle {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    border-radius: 50%;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    background: #000
    
  }
  