.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.img {
    flex: 1;
    background-image: url('image.jpg');
    background-size: cover;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
h1{
    padding-right: 380px;   
}
p {
    margin-bottom: 20px;
    padding-right: 180px; 
}


label {
    display: block;

}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #0a0b0a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 400px;
}

.btn {
    background-color: #baccba;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    }

    .btn-icon {
    background-image: url('Assets/google_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    }
    body {
    
        overflow-x: hidden; /* Hide horizontal scrollbar */
      }