
    .container-xxl{
    background-color: #343333;
    color:#0ABE9E;
    font-family: "jost";
        
        
        
    }
    .carousel-item{
        width: 100%;
      height: auto;
    }
    .container-xl{
        background-color: #EEFFFC;
        color:#0ABE9E;
        font-family: "jost";
        
        
    }
    .d-grid{
        background-color: #EEFFFC;
        color:#0ABE9E;
        font-family: "jost";
    
        
    }
    .container-xlll{
        background-color: #343333;
        color:#0ABE9E;
        font-family: "jost";
        
    }
    .btn1{
        background-color: #222222;
        border: none;
        color: #00FFD1;
        text-decoration: none;
        display: inline-block;
        font-family:"jost";
        font-size: 2.5rem;
        border-radius: 10px;
        width: 35%;
    
        
    }
    
    .btn1:hover{background-color: #00FFD1;
        color: #222222;
        transition: 0.5s;
    }
    .navbar-nav{
        font-size: 1.5rem;
    }
    
    
    .row1{
        color:#222222;
        font-family: "jost";
    }